h1{
    font-size: 70px;
    font-family: 'Gruppo', sans-serif;
}

h1::before{
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28rem;
    background: #423a63;
    position:absolute;
    z-index: -1;
    filter:blur(1500px);
    top: -3rem;
    left: -5rem;
}


.home-content{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-bottom: 15rem;
}


.info-me{
    font-size: 1.3rem;
    padding: 1.3rem;
    background: rgba(148, 129, 216, 0.2);
    border-radius: 20px;
}


.name-intro {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-right: 20px; 
    align-self: flex-start; 
  }


.name-pic-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .name-intro {
    flex: 1;
    padding-right: 20px;
    margin-top: 5rem;
  }
  
  .my-pic {
    flex: 1;
    width: 100%; 
    height: auto;
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    margin-top: 5rem;
  }

  .quote-container{
    margin-top: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }


  h3{
    font-size: 38px;
    font-family: 'Gruppo', sans-serif;
  }

  .slick-prev, .slick-next {
    display: none !important;
  }

.quote-p{
    font-size: 1.3rem;
    padding: 1rem;
    background: rgba(103,81,185,0.5);
    border-radius: 10px;
    width: 60rem;
    font-family: 'Crimson Text', serif;
 }

.quote{
  font-family: 'Crimson Text', serif;
}

.quote-author{
  text-align: right;
  font-family: 'Crimson Text', serif;

}



@media (min-width: 321px) and (max-width: 768px) {

      .name-pic-container{
        display: flex;
        flex-direction: column;
      }

      .info-me{
        font-size: 1rem;
      }

      h1{
        font-size: 40px;
        text-align: center;
      }

      .name-intro{
        gap:8rem
      }

      .quote-p{
        width: 25rem;
      }

      h3{
        font-size: 30px;

      }

}

@media (max-width: 375px) {

  .quote-p {
    width: 20rem; 
    font-size: 1rem;
    margin-right: 1rem;

  }

  .quote-author{
    margin-top: 1rem;
  }

  .my-pic {
    width: 100%; 
    margin-top: 2rem; 
  }
}