/* ModalInfo.css */

:root {
    --primary-color: #6751b9;
    --background-color: #130f2a;
  }

  h2{
    font-family: 'Gruppo', sans-serif;
    font-size: 3rem;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999;
  }
  
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1.5px solid var(--primary-color);
    width: 1200px;
    height: 950px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  
  .modal-content {
    text-align: center;
    color: #fff; /* Text color */
  }

  
  .modal-pic-info img {
    max-width: 100%;
    width: 300px;
    border-radius: 15px;
    margin: 0 10px;
}

  
  
.modal-info-wrap {
    flex-grow: 1; /* Allow the text to take remaining width */
    width: 100%; /* Set width to 60% of the parent container */
    text-align: left; /* Align text to the left */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

 

  .info-mod{
    margin-right: 1rem;
    padding: 5px 8px;
    background: rgba(103,81,185,0.5);
    border-radius: 8px;
    display: inline-block;
  }
  
  .date-info{
    display: inline-block; 
    font-size: 1.2rem;
  }

  .skills-info{
    font-size: 1.2rem;
  }

  .full-descr-content {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.2rem;
  }

  .close-btn-container {
    position: absolute; /* Position relative to the modal */
    bottom: 20px; /* 10px from the bottom */
    right: 20px; /* 20px from the right */
  }
  
  .pic-modal-div {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center the thumbnails horizontally */
    gap: 10px; 
    flex-wrap: nowrap; /* Prevent wrapping of items */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    width: 100%; 
    /* height: 320px; Remove the fixed height */
    margin-top: 30px;
  }
  
  
  .thumbnail-container {
    height: 400px;
    flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
    margin-right: 10px; /* Add spacing between thumbnail images */
  }
  
  

  .thumbnail {
    width: 150px;
    /* Add any other styles you need for the thumbnails */
  }

  .single-img{
    width: 700px;
    height: 380px;   
  }

  .fullsize {
    max-width: 80%; /* Set max-width to 80% */
    max-height: 80vh; /* Set max-height to 80% of viewport height */
  }
  

  
  
  button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 50px;
  }
  
  button:hover {
    background-color: #4c3c8f; /* Darken the color on hover */
  }
  
  @media (max-width: 768px) {

    .modal{
      width: 80%;
      height: 80%;
    }

    h2{
      font-size: 1.5rem;
    }

    .modal-info-wrap{
      gap: 0.5rem;
      margin-bottom: 20px;
    }

    .info-mod{
      font-size: 0.7rem;
    }

    .thumbnail {
      width: 65px; /* Set the width to 50% for smaller screens */
    }

    .single-img{
      width: 350px;
      height: 150px;
    }

    .skills-info, .date-info{
      font-size: 0.7rem;
    }

    .full-descr-content{
      font-size: 0.5rem;
    }

    button{
      padding: 5px 10px;
      font-size: 12px;
    }

    .close-btn-container{
      right: 0;
      bottom: 5px;
    }

    .fullsize.single-img {
      width: 100%; /* Set width to 100% for smaller screens */
      max-width: unset; /* Unset the max-width property */
      height: auto; /* Allow the height to adjust proportionally */
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .modal{
      width: 80%;
      height: 80%;
    }

    h2{
      font-size: 1.6rem;
    }

    .modal-info-wrap{
      gap: 0.5rem;
      margin-bottom: 20px;
    }

    .single-img{
      width: 350px;
      height: 200px;
    }

    button{
      padding: 8px 15px;
    }

    .info-mod{
      font-size: 0.7rem;
    }
    .skills-info, .date-info{
      font-size: 0.7rem;
    }
    .full-descr-content{
      font-size: 0.6rem;
    }

    .thumbnail {
      width: 75px; /* Set the width to 50% for smaller screens */
    } 
  }

  @media (min-width: 1025px) and (max-width: 1250px) {

    h2{
      font-size: 1.8rem;
    }
    .modal{
      width: 80%;
      height: 80%
    }

    .full-descr-content{
      font-size: 0.9rem;
    }

    .thumbnail{
      width: 60px;
    }

    .single-img{
      width: 400px;
      height: 300px;
      margin-left: auto; /* Center the image horizontally */
      margin-right: auto; /* Center the image horizontally */ 
    } 

    .thumbnail-container{
      margin-bottom: 10px;
    }
    .modal-info-wrap{
      gap: 0.5rem;
      margin-bottom: 20px;
    }
  }