/* ModalInfo.css */

:root {
    --primary-color: #6751b9;
    --background-color: #130f2a;
  }

  h2{
    font-family: 'Gruppo', sans-serif;
    font-size: 3rem;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999;
  }
  
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid var(--primary-color);
    width: 1200px;
    height: 950px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  
  .modal-content {
    text-align: center;
    color: #fff; /* Text color */
  }

  
  .modal-pic-info img {
    max-width: 100%;
    width: 300px;
    border-radius: 15px;
    margin: 0 10px;
}

  
  
.modal-info-wrap {
    flex-grow: 1; /* Allow the text to take remaining width */
    width: 100%; /* Set width to 60% of the parent container */
    text-align: left; /* Align text to the left */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

 

  .info-mod{
    margin-right: 1rem;
    padding: 5px 8px;
    background: rgba(103,81,185,0.5);
    border-radius: 8px;
    display: inline-block;
  }
  
  .date-info{
    display: inline-block; 
    font-size: 1.2rem;
  }

  .skills-info{
    display: inline-block;
    font-size: 1.2rem;
  }

  .full-descr-content {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.2rem;
  }

  .close-btn-container{
    display: flex;
    justify-content: flex-end;
    
  }
  
  .pic-modal-div {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center the thumbnails horizontally */
    gap: 10px; 
    flex-wrap: nowrap; /* Prevent wrapping of items */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    width: 100%; /* Ensure the container spans the full width */
    height: auto; /* Allow the height to adjust based on content */
    margin-top: 30px;
  }
  
  .thumbnail-container {
    flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
    margin-right: 10px; /* Add spacing between thumbnail images */
  }
  
  

  .thumbnail {
    width: 150px;
    /* Add any other styles you need for the thumbnails */
  }

  button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 50px;
    margin-top: 30px;
  }
  
  button:hover {
    background-color: #4c3c8f; /* Darken the color on hover */
  }
  
  @media (max-width: 600px){
    .modal{
      height: 80%;
      width: 80%;
    }

    .modal-pic-info img {
      margin-top: 2rem;
      width: 110px;
      height: 300px;
    }


    h2{
      font-size: 2rem;
    }

    .full-descr-content{
      font-size: 10px;
    }
    
    .info-mod{
      margin-bottom: 3px;
      font-size: 11px;
    }
  
}

  @media (min-width: 601px) and (max-width: 768px) {
    .modal {
      width: 90%;
      height: 80%;
    }

    .modal-pic-info{
      margin-top: 1rem;
    }

    h2{
        font-size: 2rem;
    }

    .full-descr-content{
        font-size: 8px;
    }

    .info-mod{
        margin-bottom: 3px;
        font-size: 11px;
    }

    .date-info, .skills-info, .full-descr-content{
      margin-top: 8px;
    }
    .modal-info-wrap{
      gap:0.3rem
    }

    .modal-pic-info img {
      margin-top: 2rem;
      width: 210px;
      height: 500px;
    }

    .skills-info{
      font-size: 13px;
    }
    
    h5{
      font-size: 13px;
    }

    button{
      margin-top: 1rem;
      padding: 8px 15px;
    }
  } 